.footcontant{
    display: inline;
    position: absolute;
    margin-top: -20%;
    margin-left: -5px;
}

.Black{
    position: relative;
    margin-top: 12%;
    margin-left: -20%;}



    textarea {
        width: 320%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
        margin-top: -20%;
      }